.home-art-container {
  position: relative;
  height: 25vh;
  margin: .2em;
}

.home-art-container img {
  height: 25vh;
  padding: none;
}

.hover-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: none;
}

.hover-details div {
  background: none;
}

.hover-details  p {
  -webkit-text-stroke: black .05rem;
  font-weight:900;
  padding-left: .5vw;
  font-size: 1.5rem;
  background: none;
  color: white;
}

.hover-details h3 {
  -webkit-text-stroke: black .05rem;
  font-weight:900;
  padding-left: .5vw;
  font-size: 1.7rem;
  background: none;
  color: white;
}

.artwork-likes {
  padding-right: .5vw;
}